<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ready to set up screen</title>
    <link rel="stylesheet" href="ready-set-up.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <header>
      <div class="head">
        <img src="assets/buildalogowing.jpg" width="43px" height="48px" />
        <div class="build">
          BUILDA
        </div>
      </div>
    </header>

      
        <button class="larrow" >&#129144</button>
    
      <div class="text1">READY TO SET UP YOUR WEBSITE?</div>
      
    
    <!-- New  -->
       <button class="bt-temp"> <span class="arr"> &#10132</span><h1 class="text2">Go To Templates</h1></button>

        <button class="bt-temp1"><span class="x"> &#10132</span><h1 class="text3">Get Ready-Made Site</h1></button>

    </div>
  </body>
</html>
