@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mali:ital@1&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
}
.container {
  margin: auto;
}

header {
  padding: 20px;
}
.head {
  padding-left: 50px;
  display: flex;
}
.build {
  font-family: "Mali", sans-serif;
  position: relative;
  left: 5px;
  top: 10px;
  font-size: 35px;
  letter-spacing: 0.8px;
}
.mali {
  font-size: 20px;
  letter-spacing: 5px;
  font-family: "mali";
  font-weight: 400;
  vertical-align: bottom;
  margin-left: 10px;
}
.parent {
  position: absolute;
  top: 100px;
  left: 400px;
  font-size: 32px;
}

.reco {
  font-weight: 400;
  font-family: "manrope";
  position: absolute;
  top: 192px;
  left: 650px;
}

.chatcontainer {
  position: absolute;
  top: 240px;
  left: 50px;
}
.chat {
  display: flex;
}
.ch1 {
  outline: 1px solid rgba(0, 0, 0, 0.29);
  height: 322px;

  margin: 10px 30px 60px 0px;
}

.ch2 {
  outline: 1px solid rgba(0, 0, 0, 0.29);
  height: 322px;
  margin: 10px 30px 60px 0px;
}
.ch3 {
  outline: 1px solid rgba(0, 0, 0, 0.29);
  height: 322px;
  margin: 10px 30px 60px 0px;
}
h4 {
  margin: 40px 0px 15px 10px;
}

h6 {
  margin: 0px 0px 0px 10px;
  font-weight: 200;
}

.x {
  margin-bottom: 150px;
}

.y {
  margin-bottom: 150px;
}

.z {
  margin-bottom: 150px;
}

.others {
  font-size: 24px;
  font-family: "manrope";
  position: absolute;
  top: 380px;
  left: 590px;
}

.btn {
  position: relative;
  top: -5px;
  left: 1140px;
  background-color: white;
  border: none;
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}
