@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.grid-item1{
    background-image: url(Grid-Image-1.png);
    height: 250px;
}
.grid-item2 {
    background-image: url(Grid-Image-2.png);
    height: 250px;
}
.grid-item3 {
    background-image: url(Grid-Image-3.png);
    height: 250px;
}
.grid-item4 {
    background-image: url(Grid-Image-4.png);
    height: 250px;
}
.grid-item5 {
    background-image: url(Grid-Image-5.png);
    height: 250px;
}
.grid-item6 {
    background-image: url(Grid-Image-6.png);
    height: 250px;
}
.grid-item7 {
    background-image: url(Grid-Image-7.png);
    height: 250px;
}
.grid-item8 {
    background-image: url(Grid-Image-8.png);
    height: 250px;
}
.grid-item9 {
    background-image: url(Grid-Image-9.png);
    height: 250px;
}
.grid-item10 {
    background-image: url(Grid-Image-10.png);
    height: 250px;
}
.grid-item11{
    background-image: url(Grid-Image-11.png);
    height: 250px;
}
.grid-item12 {
    background-image: url(Grid-Image-12.png);
    height: 250px;
}
